#about__image {
  background: turquoise;
  margin: auto;
  width: 40%;
  border-radius: 55%;
  -webkit-border-radius: 55%;
  -moz-border-radius: 55%;
  -ms-border-radius: 55%;
  -o-border-radius: 55%;
}

#about__title {
  margin: 15px auto;
}

#about__info {
  width: 80%;
  margin: auto
}

.about__line {
  width: 50%;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}