#greeting {
  margin-top: 150px
}

#greeting__name {
  margin: 50px
}

#greeting__description {
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
  font-size: 20px;
}

#greeting__info {
  margin: 30px;
  width: 70%;
  margin: auto
}

#greeting__button, #greeting__button:visited {
  display: inline-block;
  background: #36353A;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  margin: 40px;
}

#greeting__button:hover {
  color: #418A7E;
}
