#contact {
  margin-bottom: 50px
}

#contact__greeting {
  margin: 40px auto 20px;
}

#contact__email, #contact__email:visited {
  color: #03A187;
}

#contact__email:hover {
  color: #03f8cf
}

#contact__socials {
  margin: 25px auto 20px;
}

.contact__socials--icon {
  margin: 15px
}

#contact__madeby--icon {
  color: #418A7E;
}

.contact__icon {
  height: 25px
}
