.workCard {
  width: 45%;
  margin-top: 30px;
  margin: 10px auto;
}

.workCard__item {
  margin: 8px auto;
}

.workCard__link, .workCard__link:visited {
  margin: 0 8px;
  color: #004d40
}

.workCard__link:hover {
  color: turquoise
}

.workCard__imageDiv {
  height: 200px;
  margin: 10px auto
}

.workCard__image {
  height: 100%;
  max-width: 100%;
}

@media (max-width: 600px) {
  .workCard {
    width: 90%;
    margin: 30px auto;
  }
}