.workCard {
  max-width: 40%;
  margin: 30px 0 10px;
}

.workCard__item {
  margin: 16px auto;
}

#workCard__p {
  max-width: 660px;
}

.workCard__link, .workCard__link:visited {
  margin: 0 16px;
  color: #03a187
}

.workCard__link:hover {
  color: #03f8cf
}

.workCard__imageDiv {
  height: 200px;
  margin: 20px auto 40px;
}

.workCard__image {
  height: 100%;
  max-width: 100%;
}

@media (max-width: 600px) {
  .workCard {
    width: 90%;
    margin: 30px auto;
  }
}
