* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url(../src/pages/Work/images/stardust.png);
  background-repeat: repeat;
  background-attachment: fixed;
  color: #418A7E;
  font-family: 'Nobile', sans-serif;
  scroll-behavior: smooth;
}

.section {
  text-align: center;
  margin-top: 100px;
}

:target::before {
  content: '';
  display: block;
  height: 60px;
  margin: -60px 0 0;
}
