.navbar {
  margin-bottom: 10px;
  width: 85%;
  margin: auto;
  margin-top: 80px;
  display: flex;
  flex-flow: row wrap;
}

.navbar__item, .navbar__link {
  display: inline-block
}

#navbar__left {
  text-align: left;
  width: 50%;
}

#navbar__right {
  text-align: right;
  width: 50%
}

.navbar__link, .navbar__link:visited {
  margin: 8px;
  font-size: 14px;
  padding: 0px;
  color: inherit;
  text-decoration: none;
}

.navbar__link:hover {
  color: turquoise
}

@media (max-width: 600px) {
  #navbar__left, #navbar__right {
    width: 100%;
    text-align: center
  }
}